@import "tailwindcss";

@theme {
  /* Override & Extend Colors */
  --color-white: #F9F8F6;
  --color-black: #000000;
  
  --color-stone-50: #F9F8F6;
  --color-stone-100: #EFE9E3;
  --color-stone-200: #D9CFC7;
  --color-stone-300: #D9CFC7;
  --color-stone-400: #C9B59C;
  --color-stone-500: #C9B59C;
  --color-stone-600: #C9B59C;
  --color-stone-700: #C9B59C;
  --color-stone-800: #C1856D;
  --color-stone-900: #000000;
  --color-stone-950: #000000;

  /* Font Mapping */
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

/* Base Style */
body {
  @apply bg-black text-white;
}

@layer base {
  /* Global body html reset */
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden !important;
    background: var(--background);
    color: var(--foreground);
  }

  /* Chrome / Safari / Edge */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  html {
    scrollbar-width: none;
  }

  /* IE / Edge lama */
  body {
    -ms-overflow-style: none;
  }
}